<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="/directivas">directivas <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="/clientes">Clientes <span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <ul class=" navbar-nav-right ">
      
        <li *ngIf="!authservice.isAutenticado()">
          <a  routerLink="/login" class="btn btn-outline-primary my-2 my-sm-0">Sing in</a>
        </li>
        <li class="dropdown"  *ngIf="authservice.isAutenticado()">
          <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{authservice.usuario.username}}
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <!--       <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a> -->
            <button (click)="logout()"class="dropdown-item" href="#">Sing out</button>
          </div>
        </li>
       
      </ul>
    </div>
  </nav>