
<div class="card bg.light" *ngIf="factura">
    <div class="card-header">
      {{titulo}} numero : {{factura.id}}
    </div>
    <div class="card-body">
    <h4 class="card-title">
        <a [routerLink]="['/clientes']" class="btn btn-light btn-xs" >&laquo; volver</a>
    </h4>
    <form  #facturaForm="ngForm">

        <div class="form-group row "*ngIf="factura.cliente">
            <label for="cliente" class="col-sm-2 cl-form-label">Cliente</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="cliente" id="cliente"
                value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" disabled>
            </div>
          </div>



          <div class="form-group row "*ngIf="factura.cliente">
            <label for="cliente" class="col-sm-2 cl-form-label">Descripcion</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="descripcion" id="descripcion"
                [(ngModel)]="factura.descripcion" required #descripcion="ngModel">
                <div class="alert alert-danger" *ngIf="descripcion.invalid && descripcion.touched || descripcion.invalid && facturaForm.submitted ">
                    Campo requerido
                </div>
            </div>
          </div>


          <div class="form-group row "*ngIf="factura.cliente">
            <label for="cliente" class="col-sm-2 cl-form-label">Observacion</label>
            <div class="col-sm-6">
                <textarea name="observacion" id="observacion" [(ngModel)]="factura.observacion" 
                cols="100" rows="2" ></textarea>
     
            </div>
          </div>


          <div class="form-group row "*ngIf="factura.cliente">
            <div class="col-sm-6">
                <mat-form-field >
                    <input type="text"
                        placeholder="Añadir producto"
                        matInput
                        [formControl]="AutocompletadoControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" 
                    (optionSelected)="SeleccionarProducto($event)">
                    <mat-option *ngFor="let producto of ProductosFiltrados | async" [value]="producto">
                        {{producto.nombre}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="alert alert-danger" *ngIf="AutocompletadoControl.invalid && facturaForm.submitted ">
                    Campo requerido
                </div>
            </div>
          </div>
          <div class="alert alert-info my-4" *ngIf="factura.items.length<1" >
            No tiene items
          </div>
          <table class="table table-striped table-hover table-sm"  *ngIf="factura.items.length>0" >
            <thead>
                <tr>
                    <td>Producto</td>
                    <td>Precio</td>
                    <td>Cantidad</td>
                    <td>Total</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of factura.items">
                    <td>{{item.producto.nombre}}</td>
                    <td>{{item.producto.precio}}</td>
                    <td><input type="number" value="{{item.cantidad}}" class="form-control col-sm-4"
                        (change)="actualizarCantidad(item.producto.id,$event)" > </td>
                    <td>{{item.calcularImporte()}}</td>
                    <td><button class="btn btn-danger" (click)="eliminarItem(item.producto.id)">x</button></td>
                </tr>
            </tbody>
          </table>
          <h5 class="float-right"  *ngIf="factura.items.length>0" >
            <span>Gran Total</span>: <span class="badge badge-secondary">{{factura.calcularTotal()}}</span>
         </h5>
          <div class="form-group row "*ngIf="factura.cliente">
            <div class="col-sm-6">
                <input type="submit" (click)="crearFactura(facturaForm)" class="btn btn-secondary" 
                value="Crear Factura" >
            </div>
          </div>
    </form>

<!--     <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">Datos de la factura</li>
        <li class="list-group-item">Numero de factura: {{factura.id}}</li>
        <li class="list-group-item">Descripcion: {{factura.descripcion}}</li>
        <li class="list-group-item">Fecha: {{factura.createAt}}</li>
    </ul> -->

<!--     <table class="table table-striped table-hover table-bordered my-3">
        <thead>
            <tr>
                <td>Producto</td>
                <td>Precio</td>
                <td>Cantidad</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of factura.items">
                <td>{{item.producto.nombre}}</td>
                <td>{{item.producto.precio}}</td>
                <td>{{item.cantidad}}</td>
                <td>item.importe</td>
            </tr>

        </tbody>
    </table> -->

<!--     <h5 class="float-right">
        <span>Gran Total</span>: <span class="badge badge-secondary">{{factura.total}}</span>
    </h5>
 -->

    </div>
  </div>