
<div class="abril-modal animacion fadeIn" *ngIf="modalService.modal">
<div  *ngIf="modalService.modal" class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">

              <ul class="list.list-group text-dark" *ngIf="cliente">
                <li class="list-group-item active">{{cliente.nombre}}</li>
                <li class="list-group-item">{{cliente.apellido}}</li>
                <li class="list-group-item">{{cliente.email}}</li>
                <li class="list-group-item">{{cliente.createAt | date:fullDate}}</li>
                <li class="list-group-item">{{cliente.region.nombre}}</li>
                <li class="list-group-item dark"> 
                  <div class="input-group mg-1" *ngIf="authservice.hasRole('ROLE_ADMIN')">
                    <div class="custom-file">
                      <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                      <label class="custom-file-label" for="inputGroupFile04">Subir imagen</label>
                    </div>
                    <div class="input-group-append">
                      <button (click)="subirFoto()" [disabled]="!fotoseleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">enviar</button>
                    </div>
                  </div>
              </li>
              <li>

                <div class="progress" *ngIf="progreso > 0" style="height: 40px;">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{width: progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
                   {{progreso}}%
                  </div>
                </div>

              </li>
              </ul>
              
            </div>
            <div class="col-sm-4" >
              <img *ngIf="cliente?.foto" src="http://localhost:8193/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded"/>
            </div>
          </div>
          
        </div>

        <!-- AREA DE FACTURA -->
        <div class="row" >
          <button *ngIf="authservice.hasRole('ROLE_ADMIN')"  type="button" class="btn btn-primary" name="crearFactura" [routerLink]="['/facturas/form',cliente.id]"   >Crear nueva factura</button>
              
          <div class="alert alert-info my-4" *ngIf="cliente.facturas.length==0" >
            No tiene facturas
          </div>
          <table class="table table-bordered table-striped my-4" *ngIf="cliente.facturas.length>0">
            <thead>
              <th>folio</th>
              <th>descripcion</th>
              <th>fecha</th>
              <th>total</th>
              <th >detalle</th>
              <th *ngIf="authservice.hasRole('ROLE_ADMIN')"></th>
            </thead>
            <tbody>
              <tr *ngFor="let factura of cliente.facturas">
                <td>{{factura.id}}</td>
                <td>{{factura.descripcion}}</td>
                <td>{{factura.createAt}}</td>
                <td>{{factura.total}}</td>
                
                <td><button type="button" class="btn btn-primary btn-sm"
                  [routerLink]="['/facturas',factura.id]" 
                   >ver</button>
                </td>
                <td *ngIf="authservice.hasRole('ROLE_ADMIN')" >
                  <button  type="button" class="btn btn-danger" name="eliminar" (click)="delete(factura)">eliminar</button>
              </td>
              </tr>

            </tbody>


          </table>

        </div>



      </div>

      <div class="modal-footer">
        <button type="button" (click)="cerrarModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <!--   //<button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>




<div  class="card bg-dark text-white">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        

        



    </div>
</div>

</div>