<div class="card">
    <button type="button" (click)="setHabilitar()" class="btn btn-primary">
        {{(habilitar==true)?'Ocultar':'Mostrar'}}
    </button>
    <div class="card-header">Lista de cursos</div>
    <ul class="list-group" *ngIf="habilitar">
        <li class="list-group-item" *ngFor="let curso of listaCurso">{{curso}}</li>
    </ul>
</div>
