<app-header></app-header>

<!--     <h1>{{ title }} app is running!</h1>
    <ul>
      <li>{{curso}}</li>
      <li>{{profesor}}</li>
    </ul> -->
    <div class="container my-3 pb-5">
      <router-outlet></router-outlet>
    </div>
  

  <app-footer></app-footer>
