
<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>


<div class="card text-black bg-light  mb-3" >
    <div class="card-header">Clientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="my-2 text-left">
            <button  *ngIf="authservice.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">
                Crear nuevo cliente
            </button>
        </div>
        <div *ngIf="clientes?.length==0" class="alert alert-info">
            No hay registros para mostrar
        </div>
        <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
            <thead>
                <tr>
                    <th *ngIf="authservice.hasRole('ROLE_USER')">#</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>creado</th>
                    <th *ngIf="authservice.hasRole('ROLE_ADMIN')"></th>
                    <th *ngIf="authservice.hasRole('ROLE_ADMIN')"></th>
                    <th *ngIf="authservice.hasRole('ROLE_ADMIN')"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td *ngIf="authservice.hasRole('ROLE_USER')">
                        <img (click)="modalimagen(cliente)" *ngIf="cliente?.foto" 
                        src="http://localhost:8193/api/uploads/img/{{cliente.foto}}" 
                        alt="{{cliente.foto}}" class="img-thumbnail rounded"
                        class="imagen-estilo"/>

                        <img (click)="modalimagen(cliente)" *ngIf="!cliente?.foto" 
                        src="http://localhost:8193/imagenes/00100-nouser.png" 
                        alt="sinfoto" class="img-thumbnail rounded"
                        class="imagen-estilo"/>
                       <!--  <button type="button" class="btn btn-success" name="ver">{{cliente.id}}</button> -->
                    </td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido | uppercase}}</td>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
                    <td *ngIf="authservice.hasRole('ROLE_ADMIN')" >
                        <button  type="button" class="btn btn-primary" name="crearFactura" [routerLink]="['/facturas/form',cliente.id]"   >Crear factura</button>
                    </td>
                    <td *ngIf="authservice.hasRole('ROLE_ADMIN')">
                        <button  type="button" class="btn btn-primary" name="editar" [routerLink]="['/clientes/form',cliente.id]"   >Editar</button>
                    </td>
                    <td *ngIf="authservice.hasRole('ROLE_ADMIN')">
                        <button  type="button" class="btn btn-danger" name="eliminar" (click)="delete(cliente)">eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    <paginator-nav *ngIf="paginator" [paginator]="paginator" ></paginator-nav>
    </div>
  </div>
