<ul class="alert alert-danger" *ngIf="errores?.length >0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>

<div  class="card bg-dark text-white">
<div class="card-header">{{titulo}}</div>
<div class="card-body">

    <form #clienteForm="ngForm">
        
        <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre"   #nombre="ngModel"/><!--minlength="4" required-->
                <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div *ngIf="nombre.errors.required">
                        Nombre es requerido
                    </div>
                    <div *ngIf="nombre.errors.minlength">
                        Nombre debe tener al menos 4 caracteres
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  [(ngModel)]="cliente.apellido" name="apellido"  #apellido="ngModel"/> <!-- required -->
                <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div *ngIf="nombre.errors.required">
                        Apellio es requerido
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="email" class="col-form-label col-sm-2">Email</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email"   #email="ngModel"/><!--required email-->
                <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div *ngIf="nombre.errors.required">
                        Email es requerido
                    </div>
                    <div *ngIf="nombre.errors.email">
                        Formato invalido de email
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
            <div class="col-sm-6">
                <input [matDatepicker]="miDate" class="form-control"  [(ngModel)]="cliente.createAt" name="createAt" style="display:inline; width: 300px;">
                <mat-datepicker-toggle [for]="miDate"></mat-datepicker-toggle>
                <mat-datepicker #miDate></mat-datepicker>
            </div>
        </div>

        <div class="form-group row">
            <label for="region" class="col-form-label col-sm-2">Region</label>
            <div class="col-sm-6">
                <select [compareWith]="compararRegion"  class="form-control"  [(ngModel)]="cliente.region" name="region" style="width: 300px;">
                    <option  [ngValue]="undefined" >----Seleccione region----</option>
                    <option *ngFor="let region of regiones" [ngValue]="region" >{{region.nombre}}</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid"> Crear </button>
                
                <ng-template #elseBlock>
                    <button class="btn btn-primary" role="button" (click)='update()'  [disabled]="!clienteForm.form.valid"> Editar </button>
                 
                </ng-template>
            </div>
        </div>

    </form>
</div>
</div>